*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  /*overflow-x: hidden;
*/
}

*{
/*  border: solid 1px red !important;
*/
}

body{
  background-color: #ddd;
  font-family: 'Lato', sans-serif;

}
li a{
  font-size: 1.7rem;
  /*padding: 10px;*/
  text-decoration: none;
  font-family: monospace;
  font-variant: small-caps;
  color: #110;
  margin-right: 5px;

}
/*modals*/
#modal1{
  position: fixed;
  top:0px;
left:100px;
width: 500px;
height: 150px;
background-color: #bbb;
display: flex;
flex-direction: column;
align-items: center;
justify-content:space-around;
z-index: 100;
border-radius: 30px;
}
.modal1-buttons{
display: flex;
align-items: space-around;}


.invisible2{
  visibility: visible !important;
}

#modal2{
position: fixed;
top:calc(1vh + 50px);
left:50vw;
width: 500px;
height: 150px;
background-color: #5050AA;
display: flex;
flex-direction: column;
align-items: center;
justify-content:space-around;
z-index: 100;
border-radius: 10px;
}
#modal3{
  position: fixed;
  bottom:0px;
  width:100vw;
  padding: 20px;;
  min-height: 15vh;
  background-color: black;
  color: gold;
display: flex;
justify-content: space-between;
z-index: 100;
}
#modal3OK{
  width: 60px;;
}
#modal4{
visibility:hidden;
  position: fixed;
  top:20vh;
  left: 15vw;
  width:70vw;
  min-height: 50vh;
  background-color: black;
  color: gold;
display: flex;
flex-direction: column;
justify-content: center;
z-index: 100;
align-items: center;
}
.modal4-buttons{
  display: flex;
  align-items: space-around;
}
#zapisznanews{
  text-align: center;
}
.news-mail{
  display: flex;
}

p{
  word-wrap: break-word;

}
.logo{
  height: 9vh;
  position: relative;
  left: 3vh;
}
img{
  max-height: 45vh;
  max-width: 100%;;
  overflow: hidden;
  display: block;
}

.nav-text{
  background-color: #fff;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: space-between;
}
.nav-top{
align-self: center;
}
.nav-ul{
  align-items: flex-start;
  justify-content: space-between;
  vertical-align: bottom;
}

li a:hover{
/*  padding: 9px;
  border:solid 1px black;
 */ border-bottom: solid 6px gold;
 color:gold;
  transition: .4s;

}


.first-impr{
position:relative;
width: 100%;
height: 70vh;

}
.main-logo{
width:inherit;
height:inherit;
max-height: 70vh;
object-fit:cover;
object-position: 60% 40%;
overflow: hidden;
}

ul{
  list-style: none;
  display: flex;
}
li{
  margin-left: 10px;
  font-size: 1.5em;
}
.main-text{
  position:absolute;
  top:calc(50% - 6.6vw);
left:10%;
z-index: 10;
  font-size: 6.5vw;;
  color: gold;
  font-family: monospace;
text-shadow: -1px -1px black;
;
}

.topic1{
  width: 80vw;

  padding-top: 5px;
  display: grid;
  grid-template-columns: 40% 60%;
}
.img-topic1{
  width: 50vw;
  height: auto;
  object-fit: cover;

}


.events{
  display: grid;
  grid-template-columns: auto auto auto;
column-gap: 0px;
justify-content: center;
grid-row-gap: none;
}
.event{
  position: relative;
  width:25vw;
  height: auto;
  overflow: hidden;

}
.two-text-event{
  position: absolute;
  top:0px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.p-event-hide{
  display: none;

}
.event:hover >.two-text-event> .p-event-hide{
  display:block;
  background-color: rgba(150,120,130,.5);
width: 100%;
  text-align: center;
  top: 40px;
  text-shadow: 1px 0px #D4AF37;
  font-family: Ubuntu;
}
.two-text-event:hover > .p-event-hide{
  display:block;
  background-color: rgba(150,120,130,.5);
width: 100%;
  text-align: center;
  top: 40px;
  text-shadow: 1px 0px #D4AF37;
  font-family: Ubuntu;
}

.img-wrap:hover{
  transform: scale(1.61);
  background-position: center center;
  filter: brightness(50%);
  transition: 1.2s;
}

.img-wrap{
  max-width: 100%;
  max-height: 100%;
  display: block;
  overflow: hidden;


}
.img-event{
  width: 100%;
  height: 49vh;
  overflow: hidden;
object-fit: cover;
}
.two-text-event{
  width: 100%;;
}

.title-name{
  top: 8px;
  width: inherit;
  font-size: 1.5em;
  color: gold;
  background-color: rgba(20,10,0,.5); /* Tint color */
background-blend-mode: multiply;
  text-align: center;
}
.wydarzenia{

  display: flex;
  flex-direction: column;
  width: 100%;
margin: auto;
}
.wyd-p-text{
margin: auto;
  margin-top: 5vh;
  margin-bottom:5vh;
  font-family: Cookie;
  font-style: italic;
  font-size: 3.6rem;
  color: #D4AF37;
  text-shadow: 1px 1px black;

  width: 80%;
text-align: center;
}
.wyd-main{
  display: flex;
  justify-content: center;
  width: 100%;
}
.wydar{
max-width: 23.33vw;
  justify-content: flex-start;
  background-color: #EAE6BF;
  display:flex;
  flex-direction: column;
justify-content: flex-start;
margin: 3px;
}
.wydar-img{
  padding-top: 0px;
max-width: 100%;
align-self: center;
object-fit: fill;
}


.wyd-up-text{
/*  text-shadow: 1px 1px 15px #333;
*/
margin-top: 2.1vh;
margin-left: 5px;
margin-right: 5px;
  font-size: 0.9rem;
  color: #D2AF37;
  font-family: Lora;
  font-weight: 300;
}
.wyd-down-text{
  margin-left: 30px;
  margin-right: 30px;
font-family: Ubuntu;
text-align: center;
font-size: 3vw;
font-weight: 400;
word-wrap: break-word;
}
.wyd-main-text{
margin-left: 5px;
margin-right: 5px;
font-family: Lora;
margin-bottom: 10px;
}
.wyd-button{
  margin-top: 0px;
  background-color: #D3AE36;
  border-width: 0;
  width: 30%;
  align-self: center;
  margin-bottom: 10px;
  padding: 3px;
  font-family: Luna;
  text-transform: uppercase;

}
.wyd-button:hover{
  padding:8px;
  margin-top: -3px;
  margin-bottom: 3px;
  background-color: yellow;
}
.wyd-page{
  margin-top: 20px;
display: flex;
justify-content: center;
}
.wyd-more-button{
  background-color: #D4AF37;
  margin:auto;
  margin-bottom: 20px;
  padding: 10px;
  border-width: 0px;
  text-transform: uppercase;
  font-family: Luna;

}
.wyd-more-button:hover{
  padding:20px;
  margin-top: -7px;
  margin-bottom: 7px;
  background-color: yellow;
}

.topic1{

}

.p-topic1{

}
.right-topic1{
  position: relative;
  min-height: 30vh;
  max-height: 50vh;
overflow: hidden;
}


.poverimg{

  position: absolute; 
  top:calc(100% - 5px - calc(2vw + 2vh + .5vmin) );
  font-size: calc(2vw + 2vh + .5vmin);
  left:15px;
  /*

*/
}


.p-events{
  margin: auto;
    margin-top: 5vh;
    margin-bottom:5vh;
    font-family: Cookie;
    font-style: italic;
    font-size: 3.6rem;
    color: #D4AF37;
    text-shadow: 1px 1px black;

    width: 80%;
  text-align: center;

}

.p-topic1{
margin: 10% 20%;
  text-align: justify;


}
.lokale-p{
  margin: auto;
    margin-top: 5vh;
    margin-bottom:5vh;
    font-family: Cookie;
    font-style: italic;
    font-size: 3.6rem;
    color: #D4AF37;
    text-shadow: 1px 1px black;
    width: 80%;
  text-align: center;
}
.lokale-imgs{
  display: grid;
  grid-template-columns: 49% 49%;
column-gap: 5px;
row-gap: 5px;
justify-content: center;

}
.oktagon-img{
  object-fit: cover;
  background-position: 10% 10%;
}

.lokal{
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: block;
  object-fit: cover;
}

.lokale-div{
  position:relative;
}
.lokale-div-p{
  position:absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
text-shadow: 1px 1px yellow;
  font-family: "Bungee Inline";
  font-size: 3vw;
}
.s-poi-1 {
  color: #D4AF37;
  text-shadow: -1px -1px black;

}
.s-poi-2 {
  color: #777;
  text-shadow: 1px 1px white;

}
.fa{
  color: #D4AF37;
  size:100px;
  padding-left: 5px;
}
.fa:hover{
  color: white;
}
.owner{
  padding-bottom: 5vh;
}
.owner-info{
  margin-bottom: 1vh;

  font-size: 2.5vh;
  width: 80%;
}
footer{
  margin-top: 5vh;
padding-top: 30vh;

color: white;
  background-image: linear-gradient(45deg, black 80%, gold);
}
footer p{
  width: 35vw;
  margin: auto;
text-align: center;
vertical-align: baseline;
}
.papaj{
  display: flex;
  justify-content: center;
}
.small-pic{
  height: 14vh;
  width: auto;
}
.corporate{
  padding-top:3vh;
  padding-bottom: 6vh
}
.made-by{
  padding-top: 2vh;
  padding-bottom: 1vh;
}
.active-page{
  color:gold;
}

/*gdzie*/
.maps{
  display: flex;
  justify-content: center;
  
}
.h3-title{
  padding-top: 20px;
  font-family: "Bebas Neue";
  font-size: 3rem;
  text-align: center;
  color: #D4AF37;
  font-weight: 200;
}
.h4-title{
  text-align: center;
  font-size: 2rem;
  font-family: Kavoon;
}

/*kto*/
.title-kto{
  width: 80vw;
  margin: auto;
}
.text-kto{
padding-top: 30px;
}
.imgandtext{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  width: 15vw;
  height: auto;
  object-fit: contain;
}
.text{
  text-align: center;
  
}
.logos{

padding-top: 35px;
;  width: 80vw;
  margin: auto;
 display: flex;
 justify-content: space-between;
}
.quote{
  text-align: center;
  width: 40vw;
  margin: auto;
  background-color: #777;
}
.quote1{
  padding: 30px;
}
.quote2{
  text-align: right;
}
/*jak*/

.wyd-main2{
  display: flex;
  flex-direction: column;
width: 100%;
  margin: auto;
}
.wydar2{
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 80%;
;
  margin: auto;
  padding-bottom: 15px;
}
.wydarzenia2{
  width: inherit;
}
.wydar-img{
  width: 100%;
  background-position: center center;
  
}
.current-event{
  padding: 30px;
  border: red dashed 10px;
  text-align: center;
  width: 75%;
  margin: 5vh auto;
}
.wyd-up-text2{
  color: #ff0505;
  font-size: 1.5rem;
}

/*co*/

.content{
  justify-content: center;
  align-items: center;
}
.buttons{
  padding: 12px;
  margin: 5px;;
}
.buttonsy{
  padding-top: 5vh;
  display: flex;

  justify-content: center;
  width: auto;
  margin: auto;
}
.offer{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin:auto;
}
.item-info{
  width: 100%;
height: auto;
margin: auto;}
.menu-item{
  border: 1px gold solid;

}
h4{
  padding: 5px;
  font-size: 1.3rem;
}
/*kontakt*/
.h3-little-title{
  padding-top: 10px;
  padding-bottom: 30px;
  font-family: "Bebas Neue";
  font-size: 2rem;
  text-align: center;
  color: #D4AF37;
  font-weight: 100;  
}
.method{
  padding: 5px;
  font-family:Merienda;
  font-size: 2.1rem;
  color: white;
}

.method-span{
  font-size: 1.5rem;
  color:#777;
}
.method::before{
  content:"⊛	";
color:#D2AF37;
}
